<section class="testimonialsGlobal py-10 py-lg-20 bg-bg-2">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="testimonialWrapper">
					<div class="singleTestimonial p-20">
						<svg xmlns="http://www.w3.org/2000/svg" class="twQuote" viewBox="0 0 448 512"><path d="M96 224C84.72 224 74.05 226.3 64 229.9V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32S145.7 96 128 96C57.42 96 0 153.4 0 224v96c0 53.02 42.98 96 96 96s96-42.98 96-96S149 224 96 224zM352 224c-11.28 0-21.95 2.305-32 5.879V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32s-14.33-32-32-32c-70.58 0-128 57.42-128 128v96c0 53.02 42.98 96 96 96s96-42.98 96-96S405 224 352 224z"/></svg>
						<blockquote class="fs-4">Dr Manor sees me, my husband and my mother-in-law and we have had to wait a while a couple of times, especially after we were in the examining room, but it doesn't bother us because he's patient and careful with us, isn't rushed when we ask lots of questions, and his nurse and the other staff members are friendly and professional. We couldn't be happier with the practice.</blockquote>
						<div class="tgMetaCont">
							<img src="/i/nan-z.png" alt="Nan Z." /><p><strong>Nan Z.</strong> on <a href="https://goo.gl/maps/nNsqC8LzLgUQWZSg6" target="_blank" rel="noopener nofollow">Google</a></p>
						</div>
					</div>
					<div class="singleTestimonial p-20">
						<svg xmlns="http://www.w3.org/2000/svg" class="twQuote" viewBox="0 0 448 512"><path d="M96 224C84.72 224 74.05 226.3 64 229.9V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32S145.7 96 128 96C57.42 96 0 153.4 0 224v96c0 53.02 42.98 96 96 96s96-42.98 96-96S149 224 96 224zM352 224c-11.28 0-21.95 2.305-32 5.879V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32s-14.33-32-32-32c-70.58 0-128 57.42-128 128v96c0 53.02 42.98 96 96 96s96-42.98 96-96S405 224 352 224z"/></svg>
						<blockquote class="fs-4">I have been seeing Dr. Manor for 30+ years. Only had an issue once with one of the staff, and they didn't stay long, so it resolved itself. Dr. Manor takes his time with his patients, but rarely have I had to wait an inordinate amount of time, and that was when they had to call rescue for one of the patients. Staff is wonderful and pleasant to work with.</blockquote>
						<div class="tgMetaCont">
							<img src="/i/forest-h.png" alt="Forest H." /><p><strong>Forest H.</strong> on <a href="https://goo.gl/maps/XgMdvmfhsaecrYFu6" target="_blank" rel="noopener nofollow">Google</a></p>
						</div>
					</div>
					
					<div class="singleTestimonial p-20">
						<svg xmlns="http://www.w3.org/2000/svg" class="twQuote" viewBox="0 0 448 512"><path d="M96 224C84.72 224 74.05 226.3 64 229.9V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32S145.7 96 128 96C57.42 96 0 153.4 0 224v96c0 53.02 42.98 96 96 96s96-42.98 96-96S149 224 96 224zM352 224c-11.28 0-21.95 2.305-32 5.879V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32s-14.33-32-32-32c-70.58 0-128 57.42-128 128v96c0 53.02 42.98 96 96 96s96-42.98 96-96S405 224 352 224z"/></svg>
						<blockquote class="fs-4">The staff here are incredibly friendly! I made my appointment one month out and had my physical, including my lab tests, all in one visit. One week later I get a phone call to let me know that everything was perfectly good and asked me if there were any other concerns I had. My doctor was very knowledgeable and spoke with me at length about my concerns. Great place to go!</blockquote>
						<div class="tgMetaCont">
							<img src="/i/elyam-w.png" alt="Elyam W." /><p><strong>Elyam W.</strong> on <a href="https://goo.gl/maps/rmHRbKkt1LBEzZjQ6" target="_blank" rel="noopener nofollow">Google</a></p>
						</div>
					</div>
					
					
					
				</div>
			</div>
		</div>
	</div>
</section>