---
titleTag: About Carrboro Family Medicine Center, P.A.
pageName: AboutUs
description: to complete
layout: 'base.njk'
---


<section>
	<div class="container">
		<div class="row">
			<div class="col-md-5 offset-md-1">
				<img src="/i/Carrboro_Family_Medicine-1219.jpeg" class="img-fluid" alt="FAQs" />
			</div>
			<div class="col-md-5">
				<div class="accordion accordion-flush" id="accordionFlushExample">
				  <div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingOne">
					  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
						How can I leave a message for my doctor or my advance practice provider (FNP or PA)?
					  </button>
					</h2>
					<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
					  <div class="accordion-body">By simply calling our office at <a href="tel:+19199291747">(919) 929-1747</a>, you may leave a voice mail message with your provider’s nurse.  You may also sign up with our secure patient portal, Care Portal, and send your provider a secure portal message.</div>
					</div>
				  </div>
				  <div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingTwo">
					  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">What different languages is your staff capable of speaking?</button>
					</h2>
					<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
					  <div class="accordion-body">English and Spanish.</div>
					</div>
				  </div>
				  <div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingThree">
					  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">Is Carrboro Family Medicine accepting new patients?</button>
					</h2>
					<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
					  <div class="accordion-body">Yes, at this time we are accepting and welcoming new patients to our practice.  Please call our office at <a href="tel:+19199291747">(919) 929-1747</a> and we will be happy to make a new patient appointment for you.
						  </div>
					</div>
				  </div>
				  <div class="accordion-item">
					  <h2 class="accordion-header" id="flush-headingFour">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">Is Carrboro Family Medicine an independent or hospital-owned practice?</button>
					  </h2>
					  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">Carrboro Family Medicine is proud to be an independent practice for over 30 years.</div>
					  </div>
					</div>
					<div class="accordion-item">
					  <h2 class="accordion-header" id="flush-headingFive">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">What age patients does Carrboro Family Medicine see?</button>
					  </h2>
					  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">We see a variety of patients from newborns to toddlers, children to adolescents, young adults to geriatrics.</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>