---
titleTag: Contact
pageName: contact
description: to complete
layout: 'base.njk'
---


<section class="container my-20 my-md-12">
	<div class="row">
		<div class="col-md-5">
			<img src="/i/Dr-James-Manor.jpeg" alt="James Manor, M.D." class="img-fluid" />
		</div>
		<div class="col-md-7">
			<h1 class="display-4 mb-12">James Manor, M.D.</h1>
			<p>Doctor Jim Manor is a native of Alexandria, Virginia. He received his M.D. degree from the University of Michigan at Ann Arbor. He did his internship and family medicine residency at the University of North Carolina in Chapel Hill. He is board certified in Family Medicine, a Fellow of the American Academy of Family Physicians, and a member of the North Carolina Medical Society. He has the honor of being selected as one of the “Best Doctors in America” every year since 1996.  Dr. Manor enjoys traveling with his wife, running with his dog, reading, backpacking and seeing patients. Dr. Manor resides in Carrboro with his wife, Linda, and their dog Loki. He has four grown children who live in Apex, Wilmington, and Colorado.</p>	
		</div>
	</div>
</section>

<section class="testimonialsGlobal py-10 py-lg-20 bg-bg-2">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<p>testimonials here</p>
		</div>
	</div>
</section>


{% include './_includes/appt-request.njk' %}

