---
titleTag: Contact
pageName: contact
description: to complete
layout: 'base.njk'
---


<section class="container my-20 my-md-12">
	<div class="row">
		<div class="col-md-5">
			<img src="/i/Nicole-Brown.jpeg" alt="Nicole Brown, FNP" class="img-fluid" />
		</div>
		<div class="col-md-7">
			<h1 class="display-4 mb-12">Nicole Brown, FNP</h1>
			<p>Nicole Brown has served patients as a Board-Certified Family Nurse Practitioner since 2013. She grew up in Florida where she received her Bachelors degree in Nursing from the University of Florida. After graduation she moved to Durham, NC where she worked as a registered nurse at Duke University Hospital in the Emergency Department for 4 years. She received her Masters of Science in Nursing from UNC Chapel Hill. Nicole’s favorite thing about primary care is building relationships with patients and their families. She enjoys the outdoors, spending time with her family, being social, and staying active.</p>	
		</div>
	</div>
</section>

{% include './_includes/testimonials.njk' %}


{% include './_includes/appt-request.njk' %}

