---
titleTag: Dr. Yulia Neyman | Carrboro Family Medicine Center in North Carolina
pageName: neyman
description: Dr. Neyman is board certified in Family Medicine. Her special interests include women’s health and management of chronic diseases.
layout: 'base.njk'
---


<section class="container mt-20 mt-md-12 mb-20">
	<div class="row">
		<div class="col-md-5">
			<img src="/i/yulia.jpeg" alt="Dr. Yulia Neyman" class="img-fluid" />
		</div>
		<div class="col-md-7">
			<h1 class="display-4 mb-12">Dr. Yulia Neyman</h1>
			<p class="fs-3">Dr. Yulia Neyman was born in Moscow, Russia and moved to the United States in 1995. She is fluent in English and Russian. Dr. Neyman received her medical degree from Western University of Health Sciences in California. She completed the USC/California Hospital Residency Program and served as a Chief Resident in her final year. Dr. Neyman is board certified in Family Medicine. Her special interests include women’s health and management of chronic diseases. Dr. Neyman resides in Cary with her husband and three children, ranging from elementary to high school age. She enjoys traveling, spending time with her family, and watching historical drama on Netflix.</p>	
		</div>
	</div>
</section>

{% include './_includes/testimonials.njk' %}


{% include './_includes/appt-request.njk' %}

